@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-color: #91898980;
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(67, 78, 78);
}

#menu-h ul{
    list-style: none;
    padding: 0;
    background-color: black;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    transition: background .4s;
}

#menu-h ul li a:hover{
    background-color: rgb(63, 63, 226);

}

#tabela-estilizada{
    border-collapse:collapse;
}

#tabela-estilizada th, #tabela-estilizada td{
 padding: 10px;
}

#tabela-estilizada thead, #tabela-estilizada th{
 border-bottom: solid 3px rgb(68, 68, 68);
}

#tabela-estilizada tbody tr:hover{
    background-color: #dedede;
}

#tabela-estilizada tfoot{
    background-color: rgb(68, 68, 68);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
    